[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "external/SDL2_ttf"]
	path = external/SDL2_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
